#config {
  font-family: "Roboto Mono", monospace;
  font-size: 0.7rem;
  font-weight: 300;
  grid-area: config;
  color: var(--secondary-color);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: end;
  user-select: none;
}

.configOption {
  font-size: 0.7rem;
  line-height: 0.5rem;
  padding: 0 0.25rem;
}
.configOptionActive {
  color: var(--primary-color);
}
.header {
  color: var(--secondary-color);
  font-size: xx-large;
}
