.modal {
}

/*title of config modal*/
.header {
  font-size: xx-large;
  color: var(--secondary-color);
}

.mode {
  color: var(--secondary-color);
  padding: 0.125rem;
}

.mode:hover {
  cursor: pointer;
  color: var(--title-color);
}

.active {
  color: var(--primary-color);
}
