/*-----------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #e61d1d;
  --title-color: black;
  --bg-color: #fafafa;
  --secondary-color: #b7b7b7;
  transition: color 150ms ease-in-out;
  /* --primary-color: #d4a916;
  --title-color: #d1d0c5;
  --bg-color: #323437;
  --secondary-color: #5d5f62; */
}

body {
  margin: 0rem;
  background-color: var(--bg-color);
}

#display {
  display: grid;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
  width: min(95vw, 1000px);
}

.circular-progress {
  position: absolute;
  width: 100%;
  height: 100%;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  position: relative;
  height: min(300px, 100%);
  width: min(300px, 100%);
}

.text-timer {
  user-select: none;
  position: absolute;
  width: 100%;
  top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}

.hidden {
  transition: 150ms ease-in-out;
  opacity: 0%;
  visibility: hidden;
}

.visible {
  transition: opacity 150ms ease-in-out;
  opacity: 100%;
}

.progress-container {
  position: relative;
}

.tracker-circle {
  height: 0.75rem;
  width: 0.75rem;
}

.sessionRow {
  display: flex;
  flex-direction: row;
}

.tracker-circle {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.icon {
}

.setting-grid {
  display: grid;
  grid-area: "title title" "description options";
  row-gap: 10px;
  column-gap: 20px;
}

.setting-grid > .description {
  grid-area: description;
}

.setting-grid > .options {
  grid-area: options;
}
